body{
     background-color: rgb(169, 97, 241) !important;
}
button{
     background-color: rgb(166, 238, 238);
     border: 2px solid white;
     border-radius: 15px !important;
     font-family: 'Courier New', Courier, monospace;
     font-size: 14px;
     margin: 6px;
}
button:hover{
     background-color: rgb(203, 241, 97);
}
.navbar{
     background-color: rgba(0, 0, 0, 0.199);
     color: white;
}
.navbar-brand{
     color: white !important;
}
.btn{
     color: white !important;
}